<h1>{{ title }}</h1>

<ul>
  <p *ngIf = "todos.length==0">
    <small>Nenhuma tarefa hoje.</small>
  </p>
  <li *ngFor = "let todo of todos"> 
    {{ todo.id }}º 
    {{ todo.title }} |
    <button *ngIf = "!todo.done" (click) = "markAsDone(todo)">Concluir</button> |
    <button *ngIf = "todo.done" (click) = "markAsUndone(todo)">Refazer</button> |
    <button (click) = "remove(todo)">Remover</button> |
  </li>

</ul>

<form [formGroup] = "form">
  <fieldset>
    <label>Tarefas</label>

    <input 
    type = "text" 
    placeholder = "Título da Tarefa" 
    maxlength ="100" 
    formControlName = "title">

    <button [disabled] = "form.invalid" (click) = "add()">Salvar</button>

    <small *ngIf = "form.controls.title.invalid && !form.controls.title.pristine">Este campo deve conter entre 3 e 100 caracteres.</small>

  </fieldset>
</form>